<meta name = "viewport" content="width=device-width, initial-scale=1.0" />

<div class = 'main'>
  <div class = 'white-wall'>
    <div class = 'contents'>
      <div class = 'objects'>
        <%= image_tag "top.png", class: "images" %>
      </div>
      <div class = 'objects'>
        <%= image_tag "color.png", class: "images" %>
      </div>
      <div class = 'objects'>
        <%= image_tag "ticket.png", class: "images" %>
      </div>
      <div class = 'objects'>
        <%= image_tag "guide.png", class: "images" %>
      </div>
      <div class = 'attention'>
        <p>画像の転載、複製、改変等は禁止です。</p>
        <p>Any use or reproduction of these iamges is prohibited.</p>
      </div>
    </div>
  </div>
</div>